header {
	background-color: #FFFFFF;
	height: 70px;
	border-bottom: 1px solid #CCCCCC;
	background-image: url("/AirBnB_clone/web_static/images/logo.png");
	background-repeat: no-repeat center;
	padding-left: 20px;
}